p{
  color: black;
  padding-top: 45px;
}

section{
  background-color: #656565;
  border: 1px solid black;
}

h3{
  border: 1px solid black;
  position: absolute;
  right:1px;
  width: 150px;
  text-align: right;
}

#Chicken{
  background-color: lightcoral;
  color: black;
  margin-right: 0px;
}

#Beef{
  background-color: brown;
  color:#ffffff;
}

#Sushi{
  background-color: sandybrown;
  color: black;
}

@media(max-width:500){
  nav{
    visibility: hidden;
  }
}