
    h1{
        text-align: center;
    }
    
    section{
        border:2px solid black;
        background-color: #696969;
        clear: both;
    }
    
    
    h3{
        border:2px solid black;
        width:160px;
        text-align: center;
        right: 0px;
        position: absolute;
        clear: both;
        margin-top: auto;
        padding-right: 2px;
        margin-right: auto;
    }
    p{ 
        padding-top: 45px ;
        color: black;
    }
    
    #Chicken{
        background-color: lightcoral;
        color: black;
        margin-right: 0px;
    }
    
    #Beef{
        background-color: brown;
        color:#ffffff;
    }
    
    #Sushi{
        background-color: sandybrown;
        color: black;
    }


